
#blink {
    animation: 2s blink ease infinite;
}

@keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

#app-container {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

#header-container {
  padding-top: 2px;
  padding-right: 2px;
  height: 44px;
  background-color: rgb(58, 58, 58)
}

#main-container {
  display: flex;
}


#sidebar {
  height: calc(100vh - 44px);
  background-color: #353a40;
  padding: 1em 2%;
  flex: 2;
}

#main-window {
  height: calc(100vh - 44px);
  background-color: #41464a;
  flex: 7;
  padding: 2em 5%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#record-red-dot{
  margin-left: 36%;
  margin-right: 36%;
}

